global:
  resolve_timeout: 1m

route:
  group_by: ['alertname', 'job']
  group_wait: 10s
  group_interval: 30s
  repeat_interval: 1h # intervalo de tempo para o reenvio de um novo alerta.
  receiver: 'discord-web'


receivers:
  - name: 'discord-web'
    discord_configs:
    - webhook_url: 'https://discordapp.com/api/webhooks/1270721964209737822/6qfcP5l0OHsXX7WVEu67wQux1-TfkrNFhrFev65uTYDMtKpoACMgJOForsm2miNhGNwE'
      send_resolved: true # envia mensagem para o discord quando o problema no serviço for resolvido.

templates:
  - '/etc/alertmanager/template/*.tmpl'
